extends layout
block content
  form(action='/add', method='post', enctype='multipart/form-data')
  h1 Add cat
  form
    | Name:
    input(type='text', name='name', placeholder='Garfield')
    br
    |   Genre:
    input(type='text', name='genre', placeholder='female')
    br
    |   Color:
    input(type='text', name='color', placeholder='black and white')
    br
    |   Age:
    input(type='number', name='age', placeholder='5')
    br
    |   Weight:
    input(type='number', name='weight', placeholder='10')
    br
    input(type='submit')