extends layout.pug
block content
  form(action='/update', method='post', enctype='multipart/form-data')
  h1 Edit cat
  form
    | Name:
    input(type='text', name='name', placeholder='Garfield')
    br
    |   Genre:
    input(type='text', name='genre', placeholder='female')
    br
    |   Color:
    input(type='text', name='color', placeholder='black and white')
    br
    |   Age:
    input(type='number', name='age')
    br
    |   Weight:
    input(type='number', name='weight')
    br
    input(type='submit')